<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<style type="text/css">
    hr{
        border-width: 1px;
        border-color: #ffe900;
        animation: borderani 5s infinite;
    }
    img{
        border-width: auto;
        border-radius:190px;
        animation: imgani 5s infinite;
    }
    @keyframes imgani {
        50%{box-shadow: 0 0 18px 3px #f6ff00;
        }
    }
    @keyframes borderani {
        50% {box-shadow: 0px 0px 5px #f6ff00;}
    }
</style>
<head>
    <title>Getting Started: Serving Web Content</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <p th:text="'Hello, ' + ${name} + '!'" />

    <h1>PORTOFOLIO</h1>
    <img src="">
    <hr/>
    <section name="bio">
        <h2>BIO</h2>
        <p>
            lmao
        </p>
    </section>
    <hr/>
    <section name="about_me">
    </section>
</body>
</html>
